header {
	background-color: rgb(94, 94, 94);
    padding: 0 2em;
}

header h1 {
	color: white;
	font-weight: bold;
}

ul {
	align-items: flex-end;
}

nav {
    height: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: height .75s cubic-bezier(0.77,0.2,0.05,1.0)
}

a:hover {
    color: rgb(250, 208, 189);
}

.menu {
	height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    background-color: white;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.show-nav {
    margin-top: -.5em;
    height: 6.5em;
}

@media (min-width: 600px) {
    header {
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    header h1 {
        margin: 0 auto;
        margin-top: 1em;
        font-size: 5em;
        color: white;
        font-weight: bold;
    }

    .menu-button {
        height: 0;
        width: 0;
    }
    
    nav {
        background-color: white;
        height: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        bottom: 0;
        padding: 0 3em;
    }

    nav a {
        margin: 0 auto;
        color: rgb(94, 94, 94);
    }

    .chart {
        transform: translateX(0%);
    }
    
    .chart h2 {
        transform: translateX(0%);
    }

    .chart-div {
        width: 100%;
        
    }
}