body {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";

}

h1 {
    font-size: 2em;
}

main {
    background-color: white;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.cat {
    box-sizing: border-box;  
    height: 200px;
    width: 200px;
    margin-top: 20px;
    padding-top: 10px;
} 

.results {
    margin-top: 10px;
    color: white;
}

.results h2 {
    margin-left: 20px;
    filter: drop-shadow(0 0 0.25rem black);
}