body {
    font-family: sans-serif;
    display: grid;

}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    margin-top: .5em;
    font-size: 1em;
}

main {
    background-color: white;
    padding: 1.5rem;
    width: 100vw;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none; 
}

.chart {
    transform: translateX(-50%);
    height: fit-content;
    grid-area: chart;
}

.chart h2 {
    color: black;
    transform: translateX(50%);
}


.chart-div {
    margin: 0 auto;
    width: 200%;
    margin-bottom: 1.5rem;
    margin-top: -1em;
}

canvas {
    position: relative;
    width: 100%;
}


.cat {
    height: 200px;
    padding: 1.5rem;
} 

.cat-list, .results {
    margin: 0 auto;
    max-width: 75vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.cat-list {
    margin-top: 1.5em;
}

.results {
    color: white;
    grid-area: results;
}

.results h2 {
    margin: .25em;
    font-weight: bold;
    filter: drop-shadow(0 0 0.5rem black);
}

.cat-info h2 {
    margin: 1em 0 .75em 0;
};

.cat-info p {
    color: black;
}

.hidden-cat {
    display: none;
}

main .cat-poll a {
    line-height: 50px;
    padding: .5em;
    background-color: rgb(94, 94, 94);
    height: 2em;
    border-radius: 7px;
};