body {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";

}

h1 {
    font-size: 2em;
}

main {
    background-color: white;
    /* min-height: 100vh; */
    padding: 1.5rem;
}

ul {
    list-style: none;
}

canvas {
    position: relative;
    width: 100%;
}

.chart-div {
    width: 100%;
}

.cat {
    height: 200px;
    padding: 1.5rem;
} 

.cat-list, .results {
    margin: 0 auto;
    max-width: 75vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.cat-list {
    margin-top: 1.5em;
}

.results {
    color: white;
}

.results h2 {
    font-size: 1.75em;
    margin-top: .25em;
    font-weight: bold;
    filter: drop-shadow(0 0 0.5rem black);
}